<div class="page-title-box">
    <div class="row align-items-center mb-3">
        <div class="col-sm-12">
            <h4 class="page-title">{{title}}</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Perhitungan Suara</a></li>
                <li class="breadcrumb-item">{{title}}</li>
            </ol>
        </div>
    </div>
    <form action="" method="post">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <div class="row">
            <div class="col-md-9">
                {{#ifCond user.role "superadmin"}}
                <div class="form-group">
                    <label>TPS <span class="text-danger">*</span></label>
                    <select name="tpsId" class="form-control" required="">
                        <option value="">---Pilih TPS---</option>
                        {{#each tps}}
                            <option value="{{id}}">{{no_tps}}</option>
                        {{/each}}
                    </select>
                </div>
                {{/ifCond}}
                <div class="form-group">
                    <label>Calon <span class="text-danger">*</span></label>
                    <select name="candidateId" class="form-control candidateId" onchange="invalid()" required="">
                        <option value="">---Pilih Calon---</option>
                        {{#each candidates}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div id="gender">
                    <div class="form-group">
                        <label>Jumlah Suara Laki-laki <span class="text-danger">*</span></label>
                        <input type="number" name="male" id="male" class="form-control" placeholder="Jumlah perolehan suara" min="0"
                            required="" oninput="sumTotal()" value="0">
                    </div>
                    <div class="form-group">
                        <label>Jumlah Suara Perempuan <span class="text-danger">*</span></label>
                        <input type="number" name="female" id="female" class="form-control" placeholder="Jumlah perolehan suara" min="0"
                            required="" value="0" oninput="sumTotal()">
                    </div>
                </div>
                <div class="form-group">
                    <label>Total Suara</label>
                    <input type="text" name="numberOfVote" id="numberOfVote" class="form-control" placeholder="Jumlah perolehan suara" readonly="">
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-success btn-block mt-4">Simpan</button>
                <a href="/vote" class="btn btn-secondary btn-block">Kembali</a>
            </div>
        </div>
    </form>
</div>

<script>

const male = document.getElementById('male')
const female = document.getElementById('female')
const total = document.getElementById('numberOfVote')
const candidateId = document.querySelector('.candidateId')
const gender = document.querySelector('#gender')

function invalid() {
    if(candidateId.value == 1) {
        total.readOnly = false
        gender.style.display = 'none'
    } else {
        total.readOnly = true
        gender.style.display = 'block'
    }
}

function sumTotal() {
    const totalMale = parseInt(male.value)
    const totalFemale = parseInt(female.value)
    const sum = totalMale + totalFemale
    return total.value = sum || 0
}

</script>