<div class="page-title-box">
    <div class="row align-items-center mb-3">
        <div class="col-sm-12">
            <h4 class="page-title">{{title}}</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Perhitungan Suara</a></li>
                <li class="breadcrumb-item">{{title}}</li>
            </ol>
        </div>
    </div>
    <form action="" method="post">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <div class="row">
            <div class="col-md-9">
                {{#ifCond user.role "superadmin"}}
                <div class="form-group">
                    <label>TPS</label>
                    <input type="text" class="form-control" value="{{data.tps.no_tps}}" readonly="">
                </div>
                {{/ifCond}}
                <div class="form-group">
                    <label>Calon</label>
                    <input type="text" class="form-control" value="{{data.candidate.name}}" readonly="">
                </div>
                <div class="form-group">
                    <label>Jumlah Suara</label>
                    <input type="number" name="numberOfVote" class="form-control" placeholder="Jumlah perolehan suara"
                        min="0" required="" value="{{data.numberOfVote}}">
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-success btn-block mt-4">Ubah</button>
                <a href="/vote" class="btn btn-secondary btn-block">Kembali</a>
            </div>
        </div>
    </form>
</div>