<div class="page-title-box">
    <div class="row align-items-center mb-3">
        <div class="col-sm-12">
            <h4 class="page-title">{{title}}</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Perhitungan Suara</a></li>
                <li class="breadcrumb-item">{{title}}</li>
            </ol>
        </div>
    </div>
    <form action="" method="post">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="before" value="{{data.numberOfVote}}">
        <input type="hidden" name="total_dpt" value="{{data.tps.total_dpt}}">
        <input type="hidden" name="tpsId" value="{{data.tpsId}}">
        <div class="row">
            <div class="col-md-9">
                {{#ifCond user.role "superadmin"}}
                <div class="form-group">
                    <label>TPS</label>
                    <input type="text" class="form-control" value="{{data.tps.no_tps}}" readonly="">
                </div>
                {{/ifCond}}
                <div class="form-group">
                    <label>Calon</label>
                    <input type="text" class="form-control" value="{{data.candidate.name}}" readonly="">
                </div>
                <div id="gender">
                    <div class="form-group">
                        <label>Jumlah Suara Laki-laki <span class="text-danger">*</span></label>
                        <input type="number" name="male" id="male" class="form-control" placeholder="Jumlah perolehan suara" min="0"
                            required="" oninput="sumTotal()" value="{{data.male}}">
                    </div>
                    <div class="form-group">
                        <label>Jumlah Suara Perempuan <span class="text-danger">*</span></label>
                        <input type="number" name="female" id="female" class="form-control" placeholder="Jumlah perolehan suara" min="0"
                            required="" value="{{data.female}}" oninput="sumTotal()">
                    </div>
                </div>
                <div class="form-group">
                    <label>Jumlah Suara</label>
                    <input type="number" name="numberOfVote" class="form-control" placeholder="Jumlah perolehan suara"
                        min="0" required="" id="numberOfVote" value="{{data.numberOfVote}}" readonly="">
                </div>
            </div>
            <div class="col-md-3">
                <button name="submit_button" type="submit" class="btn btn-success btn-block mt-4">Ubah</button>
                <a href="/vote" class="btn btn-secondary btn-block">Kembali</a>
            </div>
        </div>
    </form>
</div>

<script>

    const male = document.getElementById('male')
    const female = document.getElementById('female')
    const total = document.getElementById('numberOfVote')
    const candidateId = {{data.candidateId}}
    const gender = document.querySelector('#gender')
    invalid()

    function invalid() {
        if (candidateId == 1) {
            total.readOnly = false
            gender.style.display = 'none'
        } else {
            total.readOnly = true
            gender.style.display = 'block'
        }
    }

    function sumTotal() {
        const totalMale = parseInt(male.value)
        const totalFemale = parseInt(female.value)
        const sum = totalMale + totalFemale
        return total.value = sum || 0
    }

</script>