<div class="page-title-box">
    <div class="row align-items-center mb-3">
        <div class="col-sm-12">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-sm myTable">
            <thead class="thead-dark">
                <th>No</th>
                <th>TPS</th>
                <th>Nama Petugas</th>
                <th>Keterangan</th>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{inc @index}}</td>
                    <td>{{tps.no_tps}}</td>
                    <td>{{fullname}}</td>
                    <td>{{desc}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>