<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h4 class="page-title">{{title}}</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card mini-stat bg-primary text-white">
                <div class="card-body">
                    <div class="">
                        <div class="float-left mini-stat-img mr-4">
                            <i class="fa fa-users" style="font-size: x-large;"></i>
                        </div>
                        <h5 class="font-size-15 text-uppercase mt-0 text-white-50">Calon</h5>
                        <h4 class="font-weight-medium font-size-24" style="margin: 0;">{{candidate}}</h4>
                    </div>
                    <div class="pt-2">
                        <div class="float-right">
                            <a href="/candidate" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                        </div>

                        <p class="text-white-50 mb-0 mt-1">Lihat Detil</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card mini-stat bg-info text-white">
                <div class="card-body">
                    <div class="">
                        <div class="float-left mini-stat-img mr-4">
                            <i class="fa fa-edit" style="font-size: x-large;"></i>
                        </div>
                        <h5 class="font-size-15 text-uppercase mt-0 text-white-50">TPS</h5>
                        <h4 class="font-weight-medium font-size-24" style="margin: 0;">{{tps}}</h4>
                    </div>
                    <div class="pt-2">
                        <div class="float-right">
                            <a href="/tps" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                        </div>
        
                        <p class="text-white-50 mb-0 mt-1">Lihat Detil</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card mini-stat bg-success text-white">
                <div class="card-body">
                    <div class="">
                        <div class="float-left mini-stat-img mr-4">
                            <i class="fa fa-envelope" style="font-size: x-large;"></i>
                        </div>
                        <h5 class="font-size-15 text-uppercase mt-0 text-white-50">SAH</h5>
                        <h4 class="font-weight-medium font-size-24" style="margin: 0;">{{valid}}</h4>
                    </div>
                    <div class="pt-2">
                        <div class="float-right">
                            <a href="/vote" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                        </div>
        
                        <p class="text-white-50 mb-0 mt-1">Lihat Detil</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card mini-stat bg-warning text-white">
                <div class="card-body">
                    <div class="">
                        <div class="float-left mini-stat-img mr-4">
                            <i class="fa fa-envelope-open" style="font-size: x-large;"></i>
                        </div>
                        <h5 class="font-size-15 text-uppercase mt-0 text-white-50">Tidak SAH</h5>
                        <h4 class="font-weight-medium font-size-24" style="margin: 0;">{{invalid}}</h4>
                    </div>
                    <div class="pt-2">
                        <div class="float-right">
                            <a href="/vote" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                        </div>
        
                        <p class="text-white-50 mb-0 mt-1">Lihat Detil</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>